.u-section-1 .u-sheet-1 {
  min-height: 3000px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1113px;
  margin: 65px 0 0 auto;
}

.u-section-1 .u-image-1 {
  min-height: 400px;
  background-image: url("images/MyPaste_photo_1.png");
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-layout-wrap-2 {
  width: 1113px;
  margin: 83px 0 0 auto;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 1px 0 0;
}

.u-section-1 .u-image-2 {
  min-height: 400px;
  background-image: url("images/MyPaste_photo_2.png");
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-layout-wrap-3 {
  margin-top: 58px;
  margin-bottom: 60px;
}

.u-section-1 .u-image-3 {
  min-height: 400px;
  background-image: url("images/MyPaste_photo_3.png");
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-wrap-4 {
  margin-top: 58px;
  margin-bottom: 60px;
}

.u-section-1 .u-image-4 {
  min-height: 400px;
  background-image: url("images/MyPaste_photo_4.png");
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-wrap-5 {
  width: 1113px;
  margin: 110px 0 0 auto;
}

.u-section-1 .u-layout-cell-9 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-10 {
  margin: 1px 0 0;
}

.u-section-1 .u-image-5 {
  min-height: 400px;
  background-image: url("images/MyPaste_photo_4.png");
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-layout-wrap-6 {
  width: 1113px;
  margin: 110px 0 0 auto;
}

.u-section-1 .u-layout-cell-11 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-12 {
  margin: 1px 0 0;
}

.u-section-1 .u-image-6 {
  min-height: 400px;
  background-image: url("images/MyPaste_photo_4.png");
}

.u-section-1 .u-container-layout-12 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 47px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 338px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 338px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 86px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 343px;
  }

  .u-section-1 .u-image-2 {
    min-height: 343px;
  }

  .u-section-1 .u-layout-wrap-3 {
    margin-top: 90px;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-3 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-wrap-4 {
    margin-top: 574px;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-4 {
    min-height: 330px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-wrap-5 {
    margin-top: -797px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 338px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-5 {
    min-height: 338px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-wrap-6 {
    margin-top: 549px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 338px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-6 {
    min-height: 338px;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2529px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 313px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 259px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    min-height: 263px;
  }

  .u-section-1 .u-image-3 {
    min-height: 253px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-image-4 {
    min-height: 253px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-1 .u-image-5 {
    min-height: 259px;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 100px;
  }

  .u-section-1 .u-image-6 {
    min-height: 259px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3905px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 440px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 389px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 395px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    min-height: 389px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    min-height: 389px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3045px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 299px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 245px;
  }

  .u-section-1 .u-image-2 {
    min-height: 249px;
  }

  .u-section-1 .u-image-3 {
    min-height: 239px;
  }

  .u-section-1 .u-image-4 {
    min-height: 239px;
  }

  .u-section-1 .u-image-5 {
    min-height: 245px;
  }

  .u-section-1 .u-image-6 {
    min-height: 245px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-group-1 {
  width: 800px;
  min-height: 250px;
  margin: 125px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }
}